@model BulkyBook.Models.ViewModels.ProductFeaturedVM
@{
}




<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-secondary">Choose featured product</h2>
        </div>
    </div>
    <br /><br />
    <form asp-controller="Product" asp-action="UpdateFeaturedProduct">
    <div>
         <select   class="form-control border" asp-for="@Model.ProductId" asp-items="@Model.Products">
            <option disabled>--Select Product--</option>
         </select>
    </div>
    <br /><br />
    <div>
        <button type="submit" class="btn btn-primary" style="float:left;">SAVE </button>
        <button type="button" class="btn btn-secondary" style="float:right;" onclick="closePopup()">DISCARD </button>
    </div>
    
</form>
</div>

<script>
    function closePopup(){
         document.getElementById('wrapper').style.visibility = "hidden";
    }
</script>