@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";

    var featured = ViewBag.Featured;
}



<style>


        #wrapper{
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background-color:rgba(100, 100, 100, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;
             z-index: 100;
       
        }
  
        #popup{
            width: 50%;
            height: auto;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            z-index:100;
        }
      
       
</style>

<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary">Product List</h2>
        </div>
         <div class="col-6 text-end">
            <a id="btnCreate" onclick="emptyLocalStorage()" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
              <i class="bi bi-plus-lg"></i> &nbsp; Create New Product
			</a>
		</div>
    </div>
    <br /><br />
   
    <div class="row d-flex flex-row justify-content-between mt-2 mb-5">
        <div class=" d-flex flex-row align-items-center">
            <div class="me-3"><h5>FEATURED PRODUCT : </h5> </div>
             @if(@featured!=null)
            {
                    <div class="me-3">@featured</div>
            }
            else
            {<div class="me-3">None is chosen</div>}
            <div><button id="btnChange" onclick="openPopup()" class="btn btn-primary" >CHANGE</button></div>
        </div>
    </div>
    
    <div id="wrapper">
        <div id="popup">
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped mt-5" style="width:100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
           </tr>
        </thead>
       
    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>

    <script>
        function emptyLocalStorage()
        {
            localStorage.setItem("title", "");
            localStorage.setItem("ISBN", "");
            localStorage.setItem("description", "");
        }

        function openPopup(){
         var popup = $('#popup');
    
        var url = "/Admin/Product/UpdateFeaturedProduct";
        //alert(url);
        var edcodedUrl = decodeURIComponent(url);
        $.get(url).done(function(data){
            popup.html(data);
            //$("#addNewProduct :input").prop("disabled", true);
            document.getElementById('wrapper').style.visibility = "visible";
        })
  
        }

    </script>
}
