html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.notification-count {
    top: 12px;
    position: relative;
    cursor: pointer;
}

.popover{
    width:500px;
    cursor:pointer;
}


/*REVIEW*/
.review{
    margin-top:5rem;
}

.what-people-think-about-book-div{
    font-size:30px;
    color:black;
    font-weight:400;
}

.rating-number{
    font-size:8rem;
}

.left-side{
    padding-left:5rem;
}